.App {
  text-align:justify;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: lightskyblue;
}
input {
  min-width: 150px;
}
.grayCard {
  display: inline-block;
  background-color: grey;
  border: 1px solid blueviolet;
  min-width: 70px;
  min-height: 150px;
  max-width: 25%;
  max-height: 50%;
  text-indent: -9999px;
  margin-left: 15px;
  margin-top: 15px;
}
.redCard {
  display: inline-block;
  background-color: red;
  border: 1px solid blueviolet;
  min-width: 70px;
  min-height: 150px;
  max-width: 25%;
  max-height: 50%;
  text-indent: 1;
  color: blueviolet;
  margin-left: 15px;
  margin-top: 15px;
}
.greenCard {
  display: inline-block;
  background-color: green;
  border: 1px solid blueviolet;
  color: blueviolet;
  min-width: 70px;
  min-height: 150px;
  max-width: 25%;
  max-height: 50%;
  text-indent: 1;
  margin-left: 15px;
  margin-top: 15px;
}
.button {
  margin: 30px;
  min-width: 100px;
  min-height: 50px;
  background-color: rgb(85, 187, 85);
  color: blueviolet;
}
.win {
  color: green;
}
.lost {
  color: red;
}
h3,
h6 {
  text-align: right;
  margin-right: 30px;
}
hr {
  margin-bottom: 30px;
}
input {
  margin-bottom: 15px;
}
.btnStart {
  background-color: rgb(65, 173, 65);
  color: blueviolet;
  min-width: 150px;
}
